<section class="home" id="home">

    <div class="content">
        <span data-aos="fade-up" data-aos-delay="150">Vida De Ecosistemas Terrestres</span>
        <h3 data-aos="fade-up" data-aos-delay="300">Objetivo 15:</h3>
        <p data-aos="fade-up" data-aos-delay="450">Gestionar sosteniblemente los bosques, luchar contra la desertificación, detener e invertir la degradación de las tierras, detener la pérdida de biodiversidad.</p>
        <a data-aos="fade-up" data-aos-delay="600" href="#" class="btn" routerLink="/articulos">artículos</a>
    </div>

</section>

<section class="about" id="about">

    <div class="image">
        <img src="../../../assets/img/home-datos.jpg" alt="" data-aos="fade-right">
    </div>

    <div class="content" data-aos="fade-left">
        <h3>Datos Destacables</h3>
        <h2>Bosques</h2>
        <p>lrededor de 1.600 millones de personas dependen de los bosques para su sustento, incluidos 70 millones de personas indígenas.</p>
        <p>Los bosques albergan a más del 80% de todas las especies terrestres de animales, plantas e insectos.</p>
        <p>Entre 2010 y 2015, el mundo perdió 3,3 millones de hectáreas de áreas forestales. Las mujeres rurales pobres dependen de los recursos comunes y se ven especialmente afectadas por su agotamiento.</p>
        <h2>Desertificación</h2>
        <p>2.600 millones de personas dependen directamente de la agricultura, pero el 52% de la tierra utilizada para la agricultura se ve moderada o severamente afectada por la degradación del suelo.</p>
        <p>La pérdida de tierras cultivables se estima en 30 a 35 veces la tasa histórica
            Debido a la sequía y la desertificación, se pierden 12 millones de hectáreas cada año (23 hectáreas por minuto). En un año, podrían haberse cultivado 20 millones de toneladas de grano.</p>
        <p>74 por ciento de los pobres son directamente afectados por la degradación de la tierra a nivel mundial.</p>
        <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" class="btn">Más Informacion</a>
    </div>

</section>

