<section class="blogs" id="blogs">

    <div class="heading" data-aos="zoom-in">
        <h1>Artículos </h1>
    </div>

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="../../../assets/img/articulo_01.jpg" alt="">
            </div>
            <div class="content" >
                <a routerLink="/articulos-articulo1" class="link">En 2018 la Asamblea General se enfocará en la migración, la juventud y el desarrollo sostenible</a>
                <p>La migración, la prevención de los conflictos, el desarrollo sostenible y la reforma de la ONU serán las prioridades de la 72da. sesión de la Asamblea General para el 2018, indicó el presidente del órgano, [...]</p>
                <div class="icon">
                    <a routerLink="/articulos-articulo1"><i class="fas fa-clock"></i> 20 diciembre de 2017</a>
                    <a routerLink="/articulos-articulo1"><i class="fas fa-book"></i> refrencia</a>
                    <a routerLink="/articulos-articulo1"><i class="fas fa-user"></i> autor </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="../../../assets/img/articulo_02.jpg" alt="">
            </div>
            <div class="content">
                <a routerLink="/articulos-articulo2" class="link">El mundo se compromete a promover el desarrollo sostenible en las montañas, en su Día Internacional.</a>
                <p>Unos 60 países y más de 200 organizaciones de la sociedad civil se comprometieron este lunes en el Día Internacional de las Montañas, a fortalecer a las personas que las habitan y preparar eficazmente su [...]
                </p>
                <div class="icon">
                    <a routerLink="/articulos-articulo2"><i class="fas fa-clock"></i> 11 diciembre de 2017 </a>
                    <a routerLink="/articulos-articulo2"><i class="fas fa-book"></i> Referencia </a>
                    <a routerLink="/articulos-articulo2"><i class="fas fa-user"></i> autor </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="../../../assets/img/articulo_03.jpg" alt="">
            </div>
            <div class="content">
                <a routerLink="/articulos-articulo3" class="link">Día Mundial del Suelo: Las técnicas nucleares ayudan al cuidado de la superficie terrestre</a>
                <p>En conmemoración del Día Mundial del Suelo , Naciones Unidas quiso recordar hoy la importancia de mantener la superficie terrestre, ya que es un recurso finito y no renovable que se encuentra en peligro alrededor [...]</p>
                <div class="icon">
                    <a routerLink="/articulos-articulo3"><i class="fas fa-clock"></i> 5 diciembre de 2017 </a>
                    <a routerLink="/articulos-articulo3"><i class="fas fa-book"></i> Referencia</a>
                    <a routerLink="/articulos-articulo3"><i class="fas fa-user"></i> autor</a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="../../../assets/img/articulo_04.jpg" alt="">
            </div>
            <div class="content">
                <a routerLink="/articulos-articulo4" class="link">«Nuestro objetivo colectivo debe ser un planeta libre de contaminación»</a>
                <p>La degradación ambiental es responsable de casi una de cada cuatro muertes -12,6 millones de personas al año-, así como de una variedad de problemas de salud y la destrucción generalizada de ecosistemas vitales, según [...]
                </p>
                <div class="icon">
                    <a routerLink="/articulos-articulo4"><i class="fas fa-clock"></i> 4 diciembre de 2017 </a>
                    <a routerLink="/articulos-articulo4"><i class="fas fa-book"></i> Referencia </a>
                    <a routerLink="/articulos-articulo4"><i class="fas fa-user"></i> autor</a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="../../../assets/img/articulo_05.jpg" alt="">
            </div>
            <div class="content">
                <a routerLink="/articulos-articulo5" class="link">Iniciativas verdes de África reciben premios de la ONU por su innovación</a>
                <p>Bolsos hechos con cáscaras de banano, bancos escolares fabricados a partir de residuos plásticos, un programa para mejorar la calidad de vida de los granjeros de café y una iniciativa para salvar a los gorilas [...]</p>
                <div class="icon">
                    <a routerLink="/articulos-articulo5"><i class="fas fa-clock"></i> 13 julio de 2017 </a>
                    <a routerLink="/articulos-articulo5"><i class="fas fa-book"></i> Referencia </a>
                    <a routerLink="/articulos-articulo5"><i class="fas fa-user"></i> autor </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="../../../assets/img/articulo_06.jpg" alt="">
            </div>
            <div class="content">
                <a routerLink="/articulos-articulo6" class="link">Lanzan nueva iniciativa para frenar la caza insostenible de fauna silvestre</a>
                <p>La FAO lanzó este martes una iniciativa que busca ayudar a países de África, el Caribe y el Pacífico a frenar la caza insostenible de fauna silvestre, conservar su riqueza natural y fortalecer los medios [...]</p>
                <div class="icon">
                    <a routerLink="/articulos-articulo6"><i class="fas fa-clock"></i> 10 octubre de 2017</a>
                    <a routerLink="/articulos-articulo6"><i class="fas fa-book"></i> Referencia </a>
                    <a routerLink="/articulos-articulo6"><i class="fas fa-user"></i> autor </a>
                </div>
            </div>
        </div>

    </div>


</section>
