.footer{
    background:url(../../../assets/img/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--green);
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
    display: block;
}

.footer a:hover{
    text-decoration: underline;
}

.footer .credit{
    padding:2rem 1rem;
    font-size: 2rem;
    color:#666;
    border-top: .1rem solid rgba(0,0,0,.1);
    text-align: center;
}

.footer .credit a{
    color:var(--green);
}