
<div class="footer">

    <div class="box-container">

        <div class="box" data-aos="fade-right">
            <h3>Objetivo 15: </h3>
            <p>Gestionar sosteniblemente los bosques, luchar contra la desertificación, detener e invertir la degradación de las tierras, detener la pérdida de biodiversidad</p>
        </div>

        <div class="box" data-aos="fade-up">
            <h3>links</h3>
            <a routerLink="/inicio">Inicio</a>
            <a routerLink="/articulos">Artículos</a>
            <a routerLink="/galeria">Galería</a>
            <a routerLink="/formulario">Formulario</a>
            <a routerLink="/tabla">Tabla</a>
        </div>

        <div class="box" data-aos="fade-up">
            <h3>Contacto</h3>
            <p> <i class="fas fa-phone"></i> +1 (917) 367-9858. </p>
            <p> <i class="fas fa-envelope"></i> webmanager@ohchr.org </p>
            <p> <i class="fas fa-map-marker-alt"></i> New York, NY 10017, Estados Unidos </p>
        </div>

        <div class="box" data-aos="fade-up">
            <h3>Redes Sociales</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">youtube</a>
        </div>

    </div>

    <h1 class="credit"><a routerLink="/inicio"> Changoleones </a> | ONU | <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/"> vida de ecosistemas terrestres </a></h1>

</div>
