
<section class="about" id="about">

    <div class="image">
        <img src="../../../../assets/img/articulo_01.jpg" alt="" data-aos="fade-right">
    </div>

    <div class="content" data-aos="fade-left">
        <h3>En 2018 la Asamblea General se enfocará en la migración, la juventud y el desarrollo sostenible.</h3>
         <p>La migración, la prevención de los conflictos, el desarrollo sostenible y la reforma de la ONU serán las prioridades de la 72da. sesión de la Asamblea General para el 2018, indicó el presidente del órgano, Miroslav Lajcák, este miércoles.

            Para el año que viene la migración será uno de los principales temas de trabajo, con la preparación del Pacto Mundial para una migración segura, ordenada y regular.
            
            “Me alegro que a la fecha el proceso haya sido muy constructivo”, dijo Lajcák, que indicó que tras la reunión de Puerto Vallarta los 4 y 5 de diciembre, se espera pasar a la fase de negociaciones intergubernamentales en febrero de 2018, con el fin de concluirlas en julio.
            
            “Mientras tanto estoy organizando reuniones con varios tipos de participantes tales como académicos, sociedad civil, NGOs y el sector privado. Porque quiero asegurarme que, aunque se trata de negociaciones intergubernamentales, tengamos el enfoque de la sociedad civil”, indicó el presidente de la asamblea.
            
            También anunció la organización de un evento de alto nivel sobre la construcción y el mantenimiento de la paz los 24 y 25 de abril. “Queremos tener una amplia participación y una discusión política para ver qué podemos hacer mejor para prevenir los conflictos”, dijo Lajcák, quién en preparación ha trabajado con su equipo en una hoja de ruta.
            
            Asimismo, para apoyar la implementación de los Objetivos de Desarrollo Sostenible (ODS), el presidente tiene previsto tres eventos en el primer semestre del 2018:
            
            El lanzamiento del Decenio Internacional parala Acción, «Agua para el Desarrollo Sostenible» el 22 marzo
            .
            Un evento sobre juventud, educación, empleo y prevención de la radicalización en mayo. “He invitado a jóvenes. No quiero hablar de los jóvenes, quiero escuchar lo que los jóvenes tienen que decir sobre el trabajo de la ONU”, aseveró.
            
            Una reunión de alto nivel sobre el financiamiento para el desarrollo en junio. “Con el presupuesto actual y a este ritmo, no alcanzaremos los ODS en el 2030”, alertó. “Necesitamos reducir la brecha entre los objetivos y los recursos financieros que existen, en particular con el sector privado”, subrayó.
            
            Finalmente, la reforma de las Naciones Unidas iniciada por el Secretario General Antonio Guterres será la cuarta prioridad de la 72da. sesión de la Asamblea. Este miércoles, la cámara adoptó una resolución sobre la infraestructura de paz y seguridad, que pide al titular de la ONU un segundo informe detallado sobre las reformas de la Organización, de su gestión y del sistema de desarrollo.
            
            La Asamblea General es el principal órgano deliberativo de la ONU, donde cada Estado Miembro tiene un voto.</p>
        <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" class="btn">Más Información</a>
    </div>

</section>