
<section class="about" id="about">

    <div class="image">
        <img src="../../../../assets/img/articulo_04.jpg" alt="" data-aos="fade-right">
    </div>

    <div class="content" data-aos="fade-left">
        <h3>«Nuestro objetivo colectivo debe ser un planeta libre de contaminación»</h3>
         <p>La degradación ambiental es responsable de casi una de cada cuatro muertes -12,6 millones de personas al año-, así como de una variedad de problemas de salud y la destrucción generalizada de ecosistemas vitales, según un nuevo reporte de ONU Medio Ambiente, Hacia un planeta sin contaminación, publicado este lunes en el primer día de la Asamblea de la ONU para el Medio Ambiente celebrada en Nairobi, Kenia.

            La contaminación del aire, en particular, provoca 6,5 millones de muertes al año. La exposición al plomo en la pintura, que causa daño cerebral a 600,000 niños anualmente, y la contaminación del agua y del suelo también son áreas clave de enfoque. Se estima que las mares contienen 500 «zonas muertas» con muy poco oxígeno para mantener la vida marina. Más de 80% de las aguas residuales del mundo se liberan al medio ambiente sin tratamiento, envenenando los campos de cultivo y los lagos y ríos que proporcionan agua potable a 300 millones de personas.
            
            Frente a la amenaza mundial de la contaminación, el informe propone un marco para la acción internacional, exhorta a la acción por parte de los ciudadanos y sugiere políticas e inversiones para fomentar una producción y un consumo más limpios, así como más investigación, innovación y control y monitoreo.
            
            ONU Medio Ambiente también promueve cambios en la gestión y el consumo de los recursos. «Centrarse en la calidad del crecimiento es clave para mejorar la calidad de vida», dijo Ligia Noronha, directora de la División de Economía ONU Medio Ambiente.
            
            «Eso requiere una cultura que apoye la producción responsable y no haga del consumo desenfrenado una aspiración en la vida. Necesitamos invertir de manera diferente para transformar nuestras economías y también atraer al sector privado para respaldar el crecimiento limpio», agregó.
            
            En esta tercera Asamblea de la ONU para el Medio Ambiente se considerarán más de una docena de resoluciones que proponen nuevos enfoques para abordar todas las formas de contaminación.</p>
        <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" class="btn">Más Información</a>
    </div>

</section>