
<section class="about" id="about">

    <div class="image">
        <img src="../../../../assets/img/articulo_06.jpg" alt="" data-aos="fade-right">
    </div>

    <div class="content" data-aos="fade-left">
        <h3>Lanzan nueva iniciativa para frenar la caza insostenible de fauna silvestre.</h3>
        <p>La FAO lanzó este martes una iniciativa que busca ayudar a países de África, el Caribe y el Pacífico a frenar la caza insostenible de fauna silvestre, conservar su riqueza natural y fortalecer los medios de subsistencia y seguridad alimentaria de la población.

            El nivel de caza de animales como gorilas, elefantes y monos en países como Chad, Gabón, Senegal, Madagascar y Mali es a menudo insostenible. Por ejemplo, solo en la cuenca del Congo se consumen anualmente unos 4,6 millones de toneladas de carne de fauna silvestre, lo que equivale a la mitad de carne de vacuno que se produce en toda la Unión Europea.
            
            Si la caza para obtener alimentos no se reduce a niveles sostenibles, no sólo se perderá la biodiversidad, pero también un gran número de familias sufrirán niveles crecientes de inseguridad alimentaria, advierte la FAO.
            
            El programa de 45 millones de euros financiado por la Unión Europea, contribuirá a la conservación y uso sostenible de la vida silvestre en bosques, sabanas y humedales, regulando la caza de fauna silvestre y aumentando la oferta de productos cárnicos de manera sostenible.
            
            El Fondo trabajará con las autoridades nacionales para ofrecer a las comunidades rurales fuentes alternativas de proteínas como pollo, ganado o el cultivo de peces. Al hacerlo ayudará a desalentar la caza de especies en peligro de extinción y apoyará su recuperación.
            
            Además, se ayudará a los gobiernos a desarrollar políticas proactivas y fortalecer los marcos legales para reducir el consumo de carne de animales silvestres a niveles sostenibles sin comprometer la seguridad alimentaria de las personas que dependen de la caza.
            
            La fauna silvestre tiene valor ecológico, social y económico. Es importante para el desarrollo rural, la planificación del uso de la tierra, la provisión de alimentos, el turismo, la investigación científica y el patrimonio cultural. «El proyecto protegerá especies, conservará la biodiversidad y mantendrá el rol ecológico clave de la vida silvestre. Esto ayudará además a garantizar bienes y servicios ecosistémicos que son esenciales para el sustento de las comunidades más pobres del planeta», declaró Jose Graziano da Silva, el director general de la FAO.</p>
        <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" class="btn">Más Información</a>
    </div>

</section>