
<section class="about" id="about">

    <div class="image">
        <img src="../../../../assets/img/articulo_02.jpg" alt="" data-aos="fade-right">
    </div>

    <div class="content" data-aos="fade-left">
        <h3>El mundo se compromete a promover el desarrollo sostenible en las montañas, en su Día Internacional.</h3>
         <p>Unos 60 países y más de 200 organizaciones de la sociedad civil se comprometieron este lunes en el Día Internacional de las Montañas, a fortalecer a las personas que las habitan y preparar eficazmente su entorno ante el cambio climático, el hambre y la migración.

            Durante una reunión de alto nivel en Roma, los miembros de la Alianza de las Montañas de la FAO y el Programa de la ONU para el Medio Ambiente junto a más de 300 representantes del gobierno, la sociedad civil y el sector privado prometieron que para el año 2030 las autoridades mundiales revisarán y actualizarán sus políticas para fomentar el desarrollo sostenible de las montañas y la conservación de su ecosistema.
            
            Mil millones de personas que habitan las montañas en todo el mundo, alrededor del 13% de la población mundial, a menudo están geográficamente aislados y viven marginados, lo que los hace más propensos al hambre y la pobreza.
            
            «Uno de cada tres habitantes de las montañas en los países en desarrollo es vulnerable a la inseguridad alimentaria. Para las áreas rurales, es una de cada dos personas «, dijo Maria Helena Semedo, Directora General Adjunta de la FAO.
            
            Semedo resaltó la importancia de invertir en la agricultura sostenible en las regiones montañosas para responder a los desafíos climáticos y migratorios, ya que promueve la adaptación y la mitigación del cambio climático y reduce las causas fundamentales de la migración, como la pobreza rural y la inseguridad alimentaria.
            
            La FAO también lanzó hoy la publicación «Gestión de cuencas hidrográficas en acción», en reconocimiento del importante papel que desempeñan las cuencas hidrográficas de montaña en el suministro de agua dulce a la humanidad y la reducción del riesgo de desastres naturales.
            
            La Asamblea de la ONU declaró el 11 de diciembre como el Día Internacional de las Montañas en 2002 y designó a la FAO como el organismo coordinador para la observancia de la fecha a nivel mundial.</p>
        <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" class="btn">Más Información</a>
    </div>

</section>