

<section class="contact" id="contact">

    <h1 class="heading"> <span>formulario de</span> Contacto </h1>

    <div class="row">

        <img class="imagen" src="../../../assets/img/mundo.png" data-aos="zoom-in">

        <form name="myform" method="post" action="https://formsubmit.co/pablomilian8218@gmail.com" onsubmit="return validateform()">
            <h3 data-aos="zoom-in">Recomendaciones</h3 >
            <input data-aos="zoom-in"  type="text" placeholder="nombre" class="box" name="name">
            <input data-aos="zoom-in" type="text" placeholder="apellido" class="box" name="apellido">
            <input data-aos="zoom-in" type="number" placeholder="teléfono" class="box" name="telefono">
            <input data-aos="zoom-in" type="email" placeholder="correo" class="box" name="correo">
            <textarea data-aos="zoom-in" placeholder="comentarios" class="box" cols="30" rows="10" name="comentarios"></textarea>
            <input  type="submit" value="enviar" class="btn" >
            <input  type="reset" value="limpiar" class="btn" >
        </form>

    </div>

</section>




