
<section class="about" id="about">

    <div class="image">
        <img src="../../../../assets/img/articulo_05.jpg" alt="" data-aos="fade-right">
    </div>

    <div class="content" data-aos="fade-left">
        <h3>Iniciativas verdes de África reciben premios de la ONU por su innovación.</h3>
         <p>Bolsos hechos con cáscaras de banano, bancos escolares fabricados a partir de residuos plásticos, un programa para mejorar la calidad de vida de los granjeros de café y una iniciativa para salvar a los gorilas en Uganda, hacen parte de los ganadores de los premios SEED de África anunciados este jueves en el Foro Político de Alto Nivel sobre Desarrollo Sostenible en la sede de la ONU.

            Los premios SAG-SEED, patrocinados por los Programa de Naciones Unidas para el Medio Ambiente (PNUMA) y para el Desarrollo (PNUD), forman parte de un programa global que reconoce a las empresas más innovadoras y que cuidan del medio ambiente en países de ingresos bajos.
            
            Entre las iniciativas ganadoras se encuentran lámparas solares para comunidades sin acceso a energía eléctrica, toallas higiénicas hechas con fibras de banana y plátano y letrinas biodegradables.
            
            El galardón otorga a sus ganadores asesoramiento financiero y empresarial personalizado y les ayuda a conseguir más apoyo a través de los gobiernos y líderes políticos.
            
            Las 15 empresas ganadoras fueron seleccionadas por un jurado independiente de expertos internacionales que analizaron más de 300 solicitudes. Sus actividades abarcan la agricultura, la gestión de residuos, la energía, la fabricación, la conservación de la biodiversidad y el turismo.</p>
        <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" class="btn">Más Información</a>
    </div>

</section>