
<section class="about" id="about">

    <div class="image">
        <img src="../../../../assets/img/articulo_03.jpg" alt="" data-aos="fade-right">
    </div>

    <div class="content" data-aos="fade-left">
        <h3>Día Mundial del Suelo: Las técnicas nucleares ayudan al cuidado de la superficie terrestre.</h3>
         <p>En conmemoración del Día Mundial del Suelo , Naciones Unidas quiso recordar hoy la importancia de mantener la superficie terrestre, ya que es un recurso finito y no renovable que se encuentra en peligro alrededor del mundo.

            Entre las amenazas que afectan a la tierra están las prácticas agrícolas intensivas, la contaminación y el cambio climático.
            
            Pese a esos desafíos, los científicos de una división conjunta de la FAO y el Organismo Internacional de Energía Atómica (OIEA) colaboran con la mejora de la tierra, a través de las técnicas isotópicas y nucleares que sirven para el estudio de los suelos.
            
            Estas prácticas proporcionan información sobre cuán rápido se erosiona la tierra o datos para buscar la manera de protegerla, entre otras aplicaciones.
            
            Uno de los países que usa esas técnicas en América Latina es Chile, donde la alianza entre científicos, junto al gobierno y la industria forestal, sirvió para determinar áreas críticamente degradadas y mitigar el impacto del deterioro del suelo.
            
            “La erosión del suelo es un proceso silencioso, y uno de los mayores desafíos es concienciar a la gente que cuando se pierde el suelo no es un proceso reversible «, afirmó Claudio Bravo-Linares, profesor del Instituto de Ciencias Químicas de la Universidad Austral de Chile.
            
            De acuerdo a los datos de la FAO, el 33% de los suelos del planeta están degradados.</p>
        <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" class="btn">Más Información</a>
    </div>

</section>